:root {
	--background: #ff0000;
}

body {
	width: 100%;
	height: 100%;
	margin: 0px;
	border: 0px;
	overflow: hidden; /* disable scrollbars */
	display: block; /* no floating content */
}

div {
	font: 30pt 'Roboto';
}

input[type="number"] {
	-webkit-appearance: textfield;
	-moz-appearance: textfield;
	appearance: textfield;

	text-align: center;
	outline: none;
	font: 15pt 'Roboto';
	line-height: 20pt;
	width: 40pt;
	height: 28pt;
	border: 2pt solid black;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none;
}

.arrow-big {
	border: solid black;
	border-width: 0 5pt 5pt 0;
	border-radius: 3pt;
	display: inline-block;
	width: 10pt;
	height: 10pt;
	padding: 3pt;
	transition: .5s;
}

.arrow-small {
	border: solid black;
	border-width: 0 4pt 4pt 0;
	border-radius: 3pt;
	display: inline-block;
	width: 10pt;
	height: 10pt;
	vertical-align: middle;
}

.arrow-container {
	width: 10pt;
	height: 10pt;
	justify-content: center;
}

.right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.left {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}

.flex {
	display: flex;
	justify-content: center;
}

.column {
	flex: 0 0 auto;
}

.row {
	flex: 0 0 auto;
	height: 40pt;
	margin: 10pt 0;
	justify-content: center;
}

.button {
	display: inline-block;
	background: darkgray;
	outline: none;
	border: 2pt solid black;
	width: 30pt;
	height: 30pt;
	text-align: center;
}

.button:hover {
	background-color: gray;
}

.button:active {
	background-color: darkslategray;
}

#side-menu > .column {
	margin-right: 10pt;
}

#side-menu {
	background-color: lightgray;
	position: fixed;
	padding-top: 5%;
	height: 100%;
	width: 0; /* to be changed by JS */
	top: 0%;
	right: 0;
	overflow: hidden; /* disable scrolling */
	transition: .5s;
}

#toggle-menu {
	position: fixed;
	top: 5%;
	right: 0;
	margin-right: 20pt;
	background: none;
	border: 2pt solid black;
	outline: none;
	border-radius: 25pt;
	width: 50pt;
	height: 50pt;
	transition: .5s;
	opacity: .6;
}

#toggle-menu:hover {
	background: darkgray;
	opacity: .9;
}

#toggle-menu:active {
	background: gray;
	opacity: 1;
}
