@font-face {
    font-family: Rubik;
    src: url("../font/Rubik-VariableFont_wght.ttf") format("truetype");
    font-weight: 350;
    font-variation-settings:
        "wght" 350;
    font-style: normal;
}

@font-face {
    font-family: Rubik;
    src: url("../font/Rubik-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight: 350;
    font-variation-settings:
        "wght" 330;
    font-style: italic;
}

* {
    font-family: Rubik, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

code {
    color: #24292e;
    background: #fff;
}

code,
code * {
    font-size: medium;
    font-family: ui-monospace, SFMono-REgular, "SF Mono", monospace !important;
}

pre code {
    padding: 1em;
    display: block;
    overflow-x: auto;
    border-radius: 2px;
}

strong {
    font-style: italic;
    font-weight: normal;
}

dfn {
    font-style: normal;
    text-decoration: underline;
}

pre.interactive-container {
    display: flex;
    justify-content: stretch;
    width: 100%;
    background: #0d1117
}

code#code {
    flex-grow: .5;
}

.code-menu {
    margin: .5em;
    background-color: #005cc5;
    padding: 0.5em;
    flex-grow: .5;
}

.var-view {
    font-size: medium;
    font-family: ui-monospace, SFMono-REgular, "SF Mono", monospace !important;
    background-color: #033a16;
    /* padding: 4px; */
    margin: 2px;
    border: 2px solid black;
}

.keyword {
    color: #d73a49
}

.comment {
    color: #6a737d
}

.label {
    color: #6f42c1
}

.var {
    color: #005cc5
}

.val {
    color: #e36209
}

.str {
    color: #032f62
}

.ref {
    color: #e36209
}

.code-line.highlight {
    background: #ffcd94
}


@media (prefers-color-scheme: dark) {
    code {
        color: #c9d1d9;
        background: #0d1117
    }

    .code-line.highlight {
        background: #40143d
    }

    .keyword {
        color: #ff7b72
    }

    .comment {
        color: #8b949e
    }

    .label {
        color: #d2a8ff
    }

    .var {
        color: #79c0ff
    }

    .val {
        color: #ffa657
    }

    .str {
        color: #a5d6ff
    }

    .ref {
        color: #7ee787
    }
}
