@use 'sass:color' as sass-color;

@use 'font';
@use 'color';

$background: #fdfdf2;

@keyframes highlightVarView {
    0% {
        background-color: #fcfc55;
    }

    100% {
        background-color: #d8ffb2;
    }
}

@keyframes highlightCode {
    0% {
        background-color: #b467cd;
    }

    100% {
        background-color: #eeb9ff;
    }
}

header {
    font-weight: bolder;
    text-align: center;
}

.subnote {
    font-size: 16px;
    font-style: italic;
    margin-top: 0;
    text-indent: 0;
}

code {
    color: #24292e;
    background: sass-color.adjust($background, $lightness: -5%, $space: hsl);
}

pre {
    & code {
        padding: 1em;
        display: block;
        overflow-x: auto;
        border-radius: 2px;
    }
}

button:disabled {
    background-color: grey;
}

.s-kwd {
    color: #d73a49;
}

.s-cmt {
    color: #6a737d;
}

.s-lbl,
.s-scp {
    color: #6f42c1;
}

.s-var,
.s-val {
    color: #005cc5;
}

.s-str {
    color: #032f62;
}

.s-ref {
    color: #e36209;
}

code .hl {
    animation: highlightCode .3s ease-out forwards;
}
