.glass {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: grayscale(85%) brightness(300%) blur(8px);
}

@media (prefers-color-scheme: dark) {
  .glass {
    background-color: transparent;
    backdrop-filter: grayscale(85%) brightness(60%) blur(8px);

    & * {
      background-color: transparent !important;
    }

    & button:hover,
    .button:hover,
    input:hover,
    .input:hover {
      backdrop-filter: grayscale(100%) brightness(20%) blur(8px) !important;
    }
  }

  button.glass:hover {
    backdrop-filter: grayscale(100%) brightness(20%) blur(8px) !important;
  }
}

;
