@use 'palette';
@use 'material';
@use 'font';

body {
    color: palette.light(text);
    background: palette.light(background);

    @media (prefers-color-scheme: dark) {
        color: palette.dark(text);
        background: palette.dark(background);
    }
}

a {
    @include font.text-body;
}

mark,
.mark {
    color: palette.light(text-accent);

    @media (prefers-color-scheme: dark) {
        color: palette.dark(text-accent);
    }
}

input,
textarea,
select,
.input {
    color: palette.light(text);

    border-radius: 8px;

    @media (prefers-color-scheme: dark) {
        color: palette.dark(text);
    }
}

button,
.button {
    text-decoration: none;
    padding: 0.2em;
    color: palette.light(text);

    & {
        border-radius: 50vmax;
    }

    @media (prefers-color-scheme: dark) {
        color: palette.dark(text);
    }
}

body {
    margin: 2vh 8vw;
}

p,
address,
ol {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
}

ol {
    width: fit-content;
}

header,
h1,
h2,
h3,
h4,
h5,
h6,
strong {
    color: var(--color-primary-900)
}
