@use 'sass:color';
@use 'palette';

.shadow {
    box-shadow: 4px 4px 8px 4px var(--color-grey-900);
}

.inset {
    box-shadow: inset 0px 0px 4px 0px var(--color-grey-900);
}

.inset.shadow {
    box-shadow: 4px 4px 8px 4px var(--color-grey-900), inset 0px 0px 8px 1px var(--color-grey-900);
}

.frame {
    position: relative;

    box-sizing: border-box;
    padding: 8px;

    &>* {
        box-sizing: border-box;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: -4px;
        border-radius: inherit;
        background: palette.light-gradient(primary, secondary);
        z-index: -1;
    }

    @media (prefers-color-scheme: dark) {
        &::before {
            background: palette.dark-gradient(primary, secondary);
        }
    }
}

.paper {
    color: palette.light(text);
    background: palette.light(soft);

    @media (prefers-color-scheme: dark) {
        color: palette.dark(text);
        background: palette.dark(soft);
    }
}

.semi-paper {
    color: palette.light(text);
    background: color.mix(palette.light(soft), transparent, 80%);

    @media (prefers-color-scheme: dark) {
        color: palette.dark(text);
        background: color.mix(palette.dark(soft), transparent, 80%);
    }
}

.glass {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: grayscale(85%) brightness(300%) blur(8px);
    border: 1px solid palette.light(background);

    & * {
        background-color: transparent !important;
    }

    @if palette.$darkmode-enabled ==true {
        @media (prefers-color-scheme: dark) {
            background-color: transparent;
            backdrop-filter: grayscale(85%) brightness(60%) blur(8px);
            border: 1px solid palette.dark(background);
        }
    }
}
