.raise {
    transition: transform 0.2s cubic-bezier(0.33, 0.33, 0, 1), filter 0.4s cubic-bezier(0.33, 0.33, 0, 1);

    &:hover {
        transform: scale(1.05, 1) translateY(-4px);
        filter: brightness(1.1);
    }

    &:active {
        transform: scale(0.95, 0.95) translateY(4px);
        filter: brightness(0.9);
    }
}
