@use 'sass:color';
@use 'sass:list';
@use 'sass:map';
@use 'sass:string';

$darkmode-enabled: false !default;

$light-palette: (
    text: #161309,
    background: #fffdf5,
    shadow: #588272,
    soft: #f1ead2,
    primary: #008f58,
    secondary: #eed98c,
    accent: #e2b436,
);
$dark-palette: (
    text: #f6f3e9,
    background: #0a0800,
    shadow: #7fdeb9,
    soft: #1e1803,
    primary: #70ffc8,
    secondary: #745e11,
    accent: #c99b1d,
);

@function light($color) {
    $color-parts: string.split($color, '-', 1);

    @if list.length($color-parts)==2 {
        @return color.mix(map.get($light-palette, list.nth($color-parts, 1)),
            map.get($light-palette, list.nth($color-parts, 2)),
            $weight: 50%);
    }

    @return map.get($light-palette, $color);
}

@function dark($color) {
    @if $darkmode-enabled == false {
        @return light($color);
    }
    $color-parts: string.split($color, '-', 1);

    @if list.length($color-parts)==2 {
        @return color.mix(map.get($dark-palette, text),
            map.get($dark-palette, list.nth($color-parts, 2)),
            $weight: 50%);
    }

    @return map.get($dark-palette, $color);
}

@function light-gradient($color1, $color2) {
    @return linear-gradient(25deg, light($color1), light($color2));
}

@function dark-gradient($color1, $color2) {
    @return linear-gradient(25deg, dark($color1), dark($color2));
}

$light-gradient: linear-gradient(25deg, light(primary), light(accent));
$dark-gradient: linear-gradient(25deg, dark(primary), dark(accent));
