$themes: (
    "light": (
        "color-background": #fdfdf2,
        "color-hover": #7f674d,
        "color-text": #000,
        "color-edge": #000,
        "color-detail": #A9A9A9,
    ),
    "dark": (
        "color-background": #3c3c3ca9,
        "color-hover": #7f674d,
        "color-text": #fff,
        "color-edge": #cecbcb,
        "color-detail": #aaa,
    ),
);

@mixin themeProperty($theme, $property, $color, $additionalProperties) {
    #{$property}: unquote(map-get($theme, $color) + ' ' + $additionalProperties);
}

@mixin theme($property, $color, $additionalProperties: '') {
    $light: map-get($themes, "light");
    $dark: map-get($themes, "dark");

    @include themeProperty($light, $property, $color, $additionalProperties);

    @media (prefers-color-scheme: "dark") {
        @include themeProperty($dark, $property, $color, $additionalProperties);
    }
}
