---
const posts = await Astro.glob("./blog/*.mdx")
import Card from "@components/Card.astro"
import MainLayout from "@layouts/MainLayout.astro"
import { dateCompare } from "@lib/util"

posts.sort((a, b) => dateCompare(b.frontmatter.publishedOn, a.frontmatter.publishedOn))
---

<MainLayout title="Technomunk's Blog" description="Technomunk's personal blog">
    <main class="text-center">
        <h1>Welcome to Technomunk's blog!</h1>
        <p>Here you can find all the pages I've written thus far ^^</p>
    </main>
    <nav class="center">
        {
            posts.map((p) => (
                <Card
                    title={p.frontmatter.title}
                    description={p.frontmatter.description}
                    publishDate={p.frontmatter.publishedOn}
                    href={p.url!}
                />
            ))
        }
    </nav>
</MainLayout>
