---
import type { Frontmatter } from '@scripts/types/blog';

import BlogOverview from '@components/BlogOverview.astro';
import MainLayout from '@layouts/MainLayout.astro';
import { dateCompare } from '@lib/dateutil';

const posts = await Astro.glob<Frontmatter>('./blog/*.mdx');

posts.sort((a, b) => dateCompare(b.frontmatter.publishedOn, a.frontmatter.publishedOn));
---

<MainLayout title="Technomunk's Blog" description="Technomunk's personal blog">
    <main class="text-center">
        <header>Welcome to Technomunk's blog!</header>
    </main>
    <BlogOverview posts={posts} />
</MainLayout>

<style lang="scss">
    header {
        margin-bottom: 0.5em;
    }
</style>
