---
import FullscreenLayout from '@layouts/FullscreenLayout.astro';
---

<FullscreenLayout title="Cozy Campfire" description="Cozy campfire scene using WebGL2">
    <main>
        <canvas id="main"></canvas>
    </main>
</FullscreenLayout>

<script>
    import '@scripts/pages/campfire';
</script>
