---
import FullscreenLayout from '@layouts/FullscreenLayout.astro';
---

<FullscreenLayout title="WIP cloth simulation" description="Particle-backed cloth sim">
    <main>
        <canvas id="main" class="fill"></canvas>
    </main>
</FullscreenLayout>

<script>
    import '@scripts/pages/cloth';
</script>
