---
import MainLayout from '@layouts/MainLayout.astro';
---

<MainLayout title="WIP cloth simulation" description="Particle-backed cloth sim" fullscreen={true}>
    <main>
        <canvas id="main"></canvas>
    </main>
</MainLayout>

<script>
    import '@scripts/pages/cloth';
</script>

<style lang="scss">
    @use '@styles/fullscreen';
</style>
