---
import FullscreenLayout from '@layouts/FullscreenLayout.astro';
import DrawerMenu from '@components/DrawerMenu.astro';
---

<FullscreenLayout title="Julia sets explorer" description="Interactive Julia sets explorer and visualizer in real time.">
    <main>
        <canvas id="view-julia" is="julia-view" class="fill-parent"></canvas>
    </main>
    <DrawerMenu class="glass chamfer text-center text-large drawer">
        <div class="shelf"><a class="button" href="index.html">Home</a></div>
        <div class="shelf">
            <canvas class="chamfer" id="map" width="360" height="240"></canvas>
        </div>
        <div class="shelf">
            <label for="limit">Limit</label>
            <input class="round" id="limit" type="number" min="1" value="32" max="1024" />
        </div>
        <div class="shelf">
            <button class="round" id="start-stop">Start</button>
        </div>
    </DrawerMenu>
</FullscreenLayout>

<script>
    import '@scripts/pages/julia';
</script>
