---
import FullscreenLayout from '@layouts/FullscreenLayout.astro';
---

<FullscreenLayout title="WIP project" description="Stick around and find out">
    <main>
        <canvas id="main"></canvas>
    </main>
</FullscreenLayout>

<script>
    import '@scripts/pages/pathtrace';
</script>
