---
import PatternCreator from "@components/PatternCreator.astro"
import MainLayout from "@layouts/MainLayout.astro"
import "@styles/materials.sass"
import "@styles/shapes.sass"
---

<MainLayout title="Pattern creator" description="Quick and dirty pattern maker">
    <meta
        content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
        name="viewport"
        slot="head"
    />
    <main>
        <PatternCreator />
    </main>
</MainLayout>

<style lang="sass">
    html,body,main
        width: 100%
        height: 100%
        margin: 0
        padding: 0
        overflow: hidden
</style>
