---
import PatternCreator from '@components/PatternCreator.astro';
import MainLayout from '@layouts/MainLayout.astro';
---

<MainLayout title="Pattern creator" description="Quick and dirty pattern maker">
    <meta
        content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
        name="viewport"
        slot="head"
    />
    <main>
        <PatternCreator />
    </main>
</MainLayout>

<style lang="scss">
    @use '@styles/materials';
    @use '@styles/shapes';

    html,
    body,
    main {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
</style>
