---
import PatternCreator from '@components/PatternCreator.astro';
import FullscreenLayout from '@layouts/FullscreenLayout.astro';
---

<FullscreenLayout title="Pattern creator" description="Quick and dirty pattern maker">
    <main>
        <PatternCreator />
    </main>
</FullscreenLayout>
