---
import MainLayout from '@layouts/MainLayout.astro';
---

<MainLayout title="WIP project" description="Stick around and find out">
    <meta
        content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
        name="viewport"
        slot="head"
    />
    <main>
        <canvas id="main"></canvas>
    </main>
</MainLayout>

<script>
    import '@scripts/cloth/main';
</script>

<style lang="scss">
    @use '@styles/fullscreen';
</style>
