/* default light theme */
:root {
	--color-background: ghostwhite;
    --color-text: black;
    --color-edge: black;
    --color-detail: darkgray;
}

.glass {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: grayscale(85%) brightness(300%) blur(8px);
}

button,.button,input,.input,.container {
    border: 3px solid var(--color-edge);
}

@media (prefers-color-scheme: dark) {
    .glass {
        background-color: transparent;
        backdrop-filter: grayscale(85%) brightness(60%) blur(8px);
    }
    button,.button,input,.input,.container {
        border-width: 2px;
    }
    :root {
        --color-background: #3c3c3ca9;
        --color-hover: #7f674d;
        --color-text: #ffffff;
        --color-edge: #cecbcb;
        --color-detail: #aaaaaa;
    }
}

div,button,input,a {
    color: var(--color-text);
}

button,.button,input,.input {
    background-color: var(--color-background);
    transition-duration: .2s;
    transition-property: background-color;
}
button:hover,.button:hover,input:hover,.input:hover {
    background-color: var(--color-hover);
}

input[type="range"] {
    background-color: transparent;
}

img {
    color: initial;
    background-color: transparent;
}