@import "fullscreen.css";
@import "color.css";
@import "font.css";
@import "shape.css";
@import "slide-menu.css";

canvas {
	touch-action: none;
}

input[type="number"] {
	text-align: center;
	outline: none;
	line-height: 20px;
	width: 80px;
	border: 2px solid var(--color-edge);
}
