/* Replaceable colors and sizes */
:root {
	--color-text: black;
	--color-background: white;
	--color-border: black;
	--color-field: #f5f5f5;
	--color-placeholder: rgba(0, 0, 0, .59);
	--color-focus: blue;
	--color-invalid: #E53535;

	--fs-h1: 48px;
	--fs-h2: 36px;
	--fs-normal: 20px;
	--fs-small: 16px;
	--fs-focus: 24px;
}

* {
	font-family: 'Open Sans', sans-serif;
	font-size: var(--fs-normal);
}

/* The form itself */

form {
	min-width: 20em;
	max-width: 30em;
	width: 70%;
	margin: auto;
	padding: 1em 0;
	border: 1px solid var(--color-border);
	box-shadow: 2px 3px 2px var(--color-border);
}

form>* {
	margin: 1rem auto;
}

form>section {
	margin: 0;
}

form>section>* {
	margin: 1rem auto;
}

/* Headers */

h1,
h2 {
	font-family: 'Sniglet', cursive;
	width: 100%;
	text-align: center;
	margin: 0;
}

h1 {
	font-size: var(--fs-h1);
}

h2 {
	font-size: var(--fs-h2);
}

/* Form field */

.field {
	position: relative;
	height: max-content;
	margin-left: .4em;
	margin-right: .4em;
}

/* Field input */

.field input,
.field select {
	padding: calc(1em + 1px) calc(.6em + 1px) calc(.2em + 1px);
	background-color: var(--color-field);
	width: 100%;
	border: 1px solid var(--color-border);
	box-shadow: 0px 2px 2px var(--color-border);
	box-sizing: border-box;
	font-size: var(--fs-focus);
	outline: none;
	border-radius: .1em;
}

.field input:invalid {
	padding: 1em .6em .2em;
	border: 2px solid var(--color-invalid);
}

.field input:invalid:not(:placeholder-shown) {
	text-decoration-line: underline;
	text-decoration-color: var(--color-invalid);
	text-decoration-style: wavy;
}

.field:focus-within select,
.field:focus-within input {
	font-style: italic;
	border: 2px solid var(--color-focus);
	padding: 1em .6em .2em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
	-moz-appearance: textfield;
}

/* Field label */

.field input+label,
.field select+label {
	display: flex;
	align-items: center;
	vertical-align: middle;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	padding: 0 .4em;
	font-style: italic;
	font-size: var(--fs-focus);
	color: var(--color-placeholder);
	pointer-events: none;
}

.field input+label {
	transition: all ease-out .4s;
}

.field select+label,
.field:focus-within input+label,
.field input:not(:placeholder-shown)+label {
	transform: translateY(calc(var(--fs-focus) * -.6));
	font-size: var(--fs-normal);
}

/* Submit button */

input[type=submit] {
	display: block;
	padding: .2em .5em;
	margin: auto;
	border: 1px solid var(--color-border);
	box-shadow: 0px 1px 1px var(--color-border);
	font-size: var(--fs-focus);
}

/* Form divider */

form>.divider {
	width: 100%;
	height: 1px;
	background: linear-gradient(.25turn, transparent, var(--color-border), transparent);
}

/* Hidden elements */
.hidden {
	display: none;
}

/* Media adjustments */

/* Small vertical screens */
@media screen and (max-width: 24em) {
	body {
		margin: 0;
	}
	form {
		min-width: 10em;
		width: 100%;
		box-sizing: border-box;
	}
}
