#hide-menu {
	position: fixed;
	padding-top: 5%;
	height: 100%;
	width: 400px;
	max-width: 100%;
	top: 0%;
	right: 0px;
	transform: translate(100%);
	transition: .5s;
}

/* Small vertical screens */
@media screen and (max-width: 24em) {
	#side-menu {
		width: 100%;
	}
}

#hide-menu > .column {
	margin-right: 10pt;
}

#toggle-menu {
	border-width: 2px;
	position: fixed;
	top: 5%;
	right: 0;
	margin-right: 20px;
	border-radius: 50%;
	width: max-content;
	height: max-content;
	padding: 4px;
}

#toggle-menu>svg {
	display: block;
	margin: auto;
	width: 60px;
	height: auto;
}
