:root {
	--background: #ff0000;
}

canvas {
	touch-action: none;
}

div {
	font: 30pt 'Roboto';
}

input[type="number"] {
	text-align: center;
	outline: none;
	font: 30pt 'Roboto';
	line-height: 20pt;
	width: 80pt;
	border: 2px solid black;
}

button, .button {
	font: 30pt 'Roboto';
	text-decoration: none;
	padding: 0 6pt 0 6pt;
}

.arrow-big {
	display: inline-block;
	width: 10pt;
	height: 10pt;
	padding: 3pt;
	transition: .5s;
}

.arrow-small {
	border-radius: 3pt;
	display: inline-block;
	width: 10pt;
	height: 10pt;
	vertical-align: middle;
}

.arrow-container {
	width: 10pt;
	height: 10pt;
	justify-content: center;
}

.right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.left {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}

.row {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	margin-top: 20pt;
}

.coord {
	font: 24pt 'Roboto';
}
