#menu {
	position: fixed;
	padding-bottom: 20px;
	height: fit-content;
	width: 400px;
	max-width: 100%;
	transition: .5s;
}

#menu * {
	max-width: 100%;
}


#toggle-menu {
	position: fixed;
	border-width: 2px;
	border-radius: 50%;
	width: max-content;
	height: max-content;
	padding: 4px;
	transition: .5s;
}

#toggle-menu>svg {
	display: block;
	margin: auto;
	width: 60px;
	height: auto;
}


@media screen and (orientation: landscape) {
	#menu {
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		border-top-left-radius: 40px;
		border-bottom-left-radius: 40px;
	}

	#menu.hide {
		transform: translate(100%, -50%);
	}

	#toggle-menu {
		top: 50%;
		right: 400px;
		transform: translateY(-50%)
	}

	#toggle-menu.hide {
		right: 0;
	}
}

@media screen and (max-width: 520px) {
	#menu {
		width: 100%;
	}
}

@media screen and (orientation: portrait) {
	#menu {
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		border-top-left-radius: 40px;
		border-top-right-radius: 40px;
	}

	#menu.hide {
		transform: translate(-50%, 100%);
	}
}
