---
const arg_di = Astro.props["arg-di"]
---

<asm-interpreter arg-di={arg_di} class="interpreter">
<slot />
<div class="interpreter-menu">
    <div>
        <button id="step">step</button>
        <button id="reset">reset</button>
    </div>
</div>
</asm-interpreter>

<script>
    import "../scripts/components/asm_interpreter"
</script>
