---
interface Props {
    di: string;
    code: string;
}
const { di, code } = Astro.props;
import { markSemanticsWithSpans } from '@lib/code/semanitcize';

import '@styles/components/interpreter.scss';
---

<asm-interpreter {di} class="interpreter frame chamfer shadow center">
    <code class="paper rect" set:html={markSemanticsWithSpans(code, 'asm')} />
    <div class="interpreter-menu drawer paper rect">
        <div>
            <button id="step">step</button>
            <button id="reset">reset</button>
        </div>
    </div>
</asm-interpreter>

<script>
    import '@scripts/components/asm_interpreter';
</script>
