---
interface Props {
    di: string
    code: string
}
const { di, code } = Astro.props
import { markSemanticsWithSpans } from "@lib/code/semanitcize"
---

<asm-interpreter {di} class="interpreter">
    <code set:html={markSemanticsWithSpans(code, "asm")} />
    <div class="interpreter-menu">
        <div>
            <button id="step">step</button>
            <button id="reset">reset</button>
        </div>
    </div>
</asm-interpreter>

<script>
    import "../scripts/components/asm_interpreter"
</script>

<style lang="sass">
    @use "@styles/interpreter.sass"
</style>
