---
import type { MDXInstance } from 'astro';
import type { Frontmatter } from '@scripts/types/blog';

import Card from '@components/Card.astro';

interface Props {
    posts: MDXInstance<Frontmatter>[];
}

const { posts } = Astro.props;
---

<nav class="center">
    {
        posts.map((p) => (
            <Card
                title={p.frontmatter.title}
                description={p.frontmatter.description}
                publishDate={p.frontmatter.publishedOn}
                href={p.url!}
                tags={p.frontmatter.tags}
            />
        ))
    }
</nav>
