---
import type { MDXInstance } from 'astro';
import type { BlogFrontmatter } from './BlogCard.astro';

import BlogCard from './BlogCard.astro';

interface Props {
    posts: MDXInstance<BlogFrontmatter>[];
}

const { posts } = Astro.props;
---

<nav class="grid">
    {
        posts.map((p) => (
            <BlogCard
                title={p.frontmatter.title}
                description={p.frontmatter.description}
                publishDate={p.frontmatter.publishedOn}
                href={p.url!}
                tags={p.frontmatter.tags}
            />
        ))
    }
</nav>
