---
interface Props {
    title: string;
    description?: string;
    publishDate?: string;
    href: string;
    tags?: string[];
}

const { title, description, publishDate, href, tags } = Astro.props;
---

<a class="thumb chamfer" {href}>
    <slot />
    <h2>{title}</h2>
    {description}
    {
        (tags || publishDate) && (
            <div class="meta">
                {publishDate && <date class="date">{new Date(publishDate).toDateString()}</date>}
                {tags && <div class="tags">{tags.join(', ')}</div>}
            </div>
        )
    }
</a>

<style lang="scss">
    @use 'sass:color';

    @use '@styles/material';
    @use '@styles/motion';
    @use '@styles/palette';
    @use '@styles/font';

    .meta {
        margin: 0 auto;
        width: 100%;
        max-width: 35em;
        display: flex;
        justify-content: space-between;
        font-style: italic;
        gap: 1rem;

        @include font.text-small;
    }

    a.thumb {
        display: flex;

        text-decoration: none;
        box-sizing: border-box;

        flex-direction: column;
        text-align: center;
        justify-content: space-between;

        padding: 0.5rem 1.5rem;
        gap: 0.5rem;

        @include material.paper($background: gradient);

        & {
            @include material.chamfer;
            @include motion.grow;
        }

        & > h1,
        h2,
        h3 {
            padding: 0;
            margin: 0;
        }
    }
</style>
