---
import { markSemanticsWithSpans } from '@lib/code/semanitcize';

interface Props {
	cells: number;
	names: string;
	code: string;
}

const { cells, names, code } = Astro.props;
const cellIds = [];
for (let i = 0; i < cells; ++i) {
	cellIds.push(i);
}
---

<bnfk-interpreter class="interpreter" {cells} {names}>
    <code set:html={markSemanticsWithSpans(code, "bnfk")} />
    <div class="interpreter-menu">
        <div class="shelf" id="vars">
            {cellIds.map(() => <input pattern="\d*"></input>)}
        </div>
        <div class="shelf">
            <label for="input">input:</label>
            <input id="input" class="io"></input>
        </div>
        <div class="shelf">
            <label for="output">output:</label>
            <input id="output" class="io" disabled></input>
        </div>
        <div>
            <button id="step">step</button>
            <button id="run">run</button>
            <button id="reset">reset</button>
        </div>
    </div>
</bnfk-interpreter>

<script>
    import '@scripts/components/bnfk_interpreter';
</script>

<style lang="scss">
    @use '@styles/components/interpreter';
</style>
