---
import { Image } from 'astro:assets';

type ImageSrc =
    | ImageMetadata
    | Promise<{
          default: ImageMetadata;
      }>;

interface Props {
    title: string;
    src: ImageSrc;
    alt: string;
    href: string;
}
const { title, src, alt, href } = Astro.props;
---

<a class="card" href={href}>
    <Image class="image" src={src} alt={alt} />
    <h2>{title}</h2>
</a>

<style lang="scss">
    @use '@styles/material';
    @use '@styles/motion';
    @use '@styles/palette';

    a.card {
        text-decoration: none;
    }
    .card {
        display: flex;

        align-items: stretch;
        justify-content: center;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;

        @include material.paper($background: transparent);

        & {
            @include material.chamfer;
        }

        & > img,
        & > svg {
            width: calc(100% / 3);
            max-width: 256px;
            flex: 0 0 auto;
            height: auto;
            aspect-ratio: 1 / 1;

            @include material.surface;
            & {
                background: padding-box palette.light(soft);
            }

            & {
                border-radius: inherit;
                border-bottom-right-radius: 4px;
                border-top-right-radius: 4px;
            }
        }

        & > h2 {
            padding: 0.5rem 0.5em;
            margin: 0;
            flex: 1;

            display: flex;
            align-items: center;
            justify-content: center;

            @include material.surface;

            & {
                border-radius: inherit;
                border-bottom-left-radius: 4px;
                border-top-left-radius: 4px;
            }
        }
    }
</style>
