---
interface Props {
    title: string
    description?: string
    publishDate?: string
    href: string
    tags?: string[]
    back?: boolean
}
const { title, description, publishDate, href, tags, back } = Astro.props
---

<a class="card" {href}>
    {publishDate && <div class="date">{new Date(publishDate).toDateString()}</div>}
    <h2>{back && <>&larr; </> }{title}{!back && <> &rarr;</>}</h2>
    {tags && <div class="tags">{tags.join(", ")}</div>}
    {description}
    <slot />
</a>
