---
import { Image } from 'astro:assets';

import flapImg from '@assets/img/flap.svg';

interface Props {
    class?: string;
}

const props = Astro.props;
---

<drawer-menu id="menu" class={props.class}>
    <slot />
</drawer-menu>
<button class={props.class}>
    <Image src={flapImg} alt="flap" />
</button>

<script>
    import '@scripts/components/drawer-menu';
</script>

<style lang="scss">
    @use '@styles/material';

    drawer-menu {
        position: fixed;
        width: 400px;

        height: fit-content;

        max-width: 100%;
        max-height: 100%;
        overflow-y: auto;
        padding: 20px 10px;

        & > shelf {
            height: fit-content;
            margin: 10px 0;
        }

        & + button {
            width: 40px;
            height: 120px;
            position: fixed;
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
            border-right: none;
            padding: 0;

            & > img {
                pointer-events: none;
            }
        }
    }

    @media screen and (orientation: landscape) {
        drawer-menu {
            right: 0;
            top: 50%;
            max-width: calc(100% - 40px);
            transform: translateY(-50%);
            border-right: none;
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;

            & + button {
                right: 400px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    @media screen and (orientation: portrait) {
        drawer-menu {
            left: 50%;
            bottom: 0;
            max-height: calc(100% - 40px);
            transform: translateX(-50%);
            padding-bottom: 0px;
            border-bottom: none;
            border-bottom-left-radius: 0 !important;
            border-bottom-right-radius: 0 !important;

            & + button {
                left: 50%;
                bottom: 700px;
                transform: translateX(-50%) rotate(90deg);
            }
        }
    }

    @media screen and (max-width: 540px) {
        drawer-menu {
            width: 100%;
        }
    }
</style>
