---
interface Props {
    class?: string
}

const props = Astro.props
---

<div class={props.class}>
    <float-bitmap></float-bitmap>
    <span class="subnote">
        <span class="sign">sign bit</span>
        <span class="exponent">exponent bits</span>
        <span class="hidden">hidden bit</span>
        <span class="mantissa">mantissa (significand) bits</span>
    </span>
</div>

<script>
    import "../scripts/components/float_bitmap"
</script>
