---
import { repeat } from '@lib/util';

interface Props {
    class?: string;
}

const props = Astro.props;
---

<div class={props.class}>
    <float-bitmap>
        <span class="sign group" title="sign">
            <span class="sign bit" title="sign">0</span>
        </span>
        <span class="exponent group" title="exponent">
            {repeat(8).map((_) => <span class="bit">0</span>)}
        </span>
        <span class="hidden group" title="hidden">
            <span class="bit">0</span>
        </span>
        <span class="mantissa group" title="mantissa">
            {repeat(23).map((_) => <span class="bit">0</span>)}
        </span>
        =
        <input class="decimal" readonly />
    </float-bitmap>
    <span class="subnote">
        <span class="sign">sign bit</span>
        <span class="exponent">exponent bits</span>
        <span class="hidden">hidden (implied) bit</span>
        <span class="mantissa">mantissa (significand) bits</span>
    </span>
</div>

<script>
    import '@scripts/components/float_bitmap';
</script>

<style lang="scss">
    @use '@styles/font';

    float-bitmap {
        border: 2px solid grey;
        padding: 5px;
        display: block;
        @include font.monospace;

        & .bit {
            cursor: pointer;
        }

        & > .group {
            padding: 0px 4px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            & + .group {
                margin-left: 5px;
            }

            &.hidden > .bit {
                cursor: auto;
            }
        }

        & > .decimal {
            font: inherit;
            text-align: right;
            border: none;
            width: 220px;
            -moz-appearance: textfield;
            &::-webkit-outer-spin-button,
            &::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }

        .sign {
            background-color: #d2ffbd;
        }

        .exponent {
            background-color: #ffa8a8;
        }

        .hidden {
            background-color: #ececec;
            color: #333333;
            font-style: italic;
        }

        .mantissa {
            background-color: #b6fdff;
        }

        .subnote > span {
            margin: 5px;
            padding: 2px 5px;
        }
    }
</style>
