---
import { Image } from 'astro:assets';

import flapImg from '@assets/img/flap.svg';
import '@styles/components/slide_menu.scss';

interface Props {
    class?: string;
}

const props = Astro.props;
---

<slide-menu id="menu" class={props.class}>
    <slot />
</slide-menu>
<button class={props.class}>
    <Image src={flapImg} alt="flap" />
</button>

<script>
    import '@scripts/components/slide_menu';
</script>
