:root {
	--color-text: black;
	--color-background: white;
	--color-border: black;
	--color-field: #f5f5f5;
	--color-placeholder: rgba(0, 0, 0, .59);
	--color-focus: blue;
	--color-invalid: #E53535;

	--fs-h1: 48px;
	--fs-h2: 36px;
	--fs-normal: 20px;
	--fs-small: 16px;
	--fs-focus: 24px;
}

canvas {
	touch-action: none;
}

div {
	font: 30pt 'Roboto';
}

button, .button {
	font: 30pt 'Roboto';
	text-decoration: none;
	padding: 0 6pt 0 6pt;
}

.arrow-big {
	display: inline-block;
	width: 10pt;
	height: 10pt;
	padding: 3pt;
	transition: .5s;
}

.arrow-small {
	border-radius: 3pt;
	display: inline-block;
	width: 10pt;
	height: 10pt;
	vertical-align: middle;
}

.arrow-container {
	width: 10pt;
	height: 10pt;
	justify-content: center;
}

.right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.left {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}

.row {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	margin-top: 20pt;
}

.coord {
	font: 24pt 'Roboto';
}

#side-menu > .column {
	margin-right: 10pt;
}

#side-menu {
	position: fixed;
	padding-top: 5%;
	height: 100%;
	width: 0; /* to be changed by JS */
	top: 0%;
	right: 0;
	overflow: hidden; /* disable scrolling */
	transition: .5s;
}

button#toggle-menu {
	position: fixed;
	top: 5%;
	right: 0;
	margin-right: 20pt;
	border-radius: 25pt;
	width: 50pt;
	height: 50pt;
	transition: .5s;
	padding: 0;
}
button#toggle-menu>svg {
	width: 90%;
}

/* Fields */

.field {
	position: relative;
	height: max-content;
	margin-left: .4em;
	margin-right: .4em;
}

/* Field input */

.field input,
.field select {
	padding: calc(1em + 1px) calc(.6em + 1px) calc(.2em + 1px);
	background-color: var(--color-field);
	width: 100%;
	border: 1px solid var(--color-border);
	box-shadow: 0px 2px 2px var(--color-border);
	box-sizing: border-box;
	font-size: var(--fs-focus);
	outline: none;
	border-radius: .1em;
}

.field input:invalid {
	padding: 1em .6em .2em;
	border: 2px solid var(--color-invalid);
}

.field input:invalid:not(:placeholder-shown) {
	text-decoration-line: underline;
	text-decoration-color: var(--color-invalid);
	text-decoration-style: wavy;
}

.field:focus-within select,
.field:focus-within input {
	font-style: italic;
	border: 2px solid var(--color-focus);
	padding: 1em .6em .2em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
	-moz-appearance: textfield;
}

/* Field label */

.field input+label,
.field select+label {
	display: flex;
	align-items: center;
	vertical-align: middle;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	padding: 0 .4em;
	font-style: italic;
	font-size: var(--fs-focus);
	color: var(--color-placeholder);
	pointer-events: none;
}

.field input+label {
	transition: all ease-out .4s;
}

.field select+label,
.field:focus-within input+label,
.field input:not(:placeholder-shown)+label {
	transform: translateY(calc(var(--fs-focus) * -.6));
	font-size: var(--fs-normal);
}
