.control-panel {
	position: absolute;
	display: flex;
	bottom: 50px;
	background: orange;
	border-radius: 10px;
	padding: 10px;
	left: 50%;
	transform: translateX(-50%);
}

.control-panel>* {
	margin: 5px;
}

.control-panel>div {
	margin: auto 5px;
}

button.control, .button.control {
	border-radius: 2px;
	width: 48px;
	height: 48px;
}
