* {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: x-large;
}

body {
	margin-left: 5%;
	margin-right: 5%;
	min-height: 100%;
	height: 100%;
}

section {
	margin-top: 12px;
}

img.avatar {
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	min-width: 20%;
	max-width: 80%;
}

p {
	text-indent: 6vw;
	text-align: justify;
}

nav {
	font-size: larger;
}

address, nav {
	text-align: center;
	font-size: larger;
	font-style: normal;
	font-weight: lighter;
}

ul {
	margin-top: 0;
}

address ul, nav ul {
	padding-left: 0;
	font-size: larger;
	list-style: none;
}

address ul a, nav ul a {
	font-style: italic;
}

footer {
	text-align: center;
	font-style: italic;
}

footer i {
	font-style: normal;
	font-size: larger;
}

mark {
	font-style: oblique;
	background-color: inherit;
	font-size: inherit;
}

.strong {
	font-size: xxx-large;
}

.center {
	text-align: center;
}

.justify {
	text-align: justify;
}
