#side-menu {
	position: fixed;
	padding-top: 5%;
	height: 100%;
	width: 0; /* to be changed by JS */
	top: 0%;
	right: 0;
	overflow: hidden; /* disable scrolling */
	transition: .5s;
}

#side-menu > .column {
	margin-right: 10pt;
}

#toggle-menu {
	border-width: 2px;
	position: fixed;
	top: 5%;
	right: 0;
	margin-right: 20px;
	border-radius: 50%;
	width: max-content;
	height: max-content;
	padding: 4px;
}

#toggle-menu>svg {
	display: block;
	margin: auto;
	width: 80px;
	height: auto;
}
