---
import MainLayout from '@layouts/MainLayout.astro';

const { title, description, publishedOn } = Astro.props.frontmatter;

const publishDate = new Date(publishedOn).toDateString();

import '@styles/components/code.scss';
---

<MainLayout {title} description={`Technomunk on: ${description}`}>
    <div class="center">
        <header>{title}</header>
        <p class="subnote">Published on: {publishDate}</p>
    </div>
    <slot />
</MainLayout>
