---
const { title, description, publishedOn, tags } = Astro.props.frontmatter
import MainLayout from "@layouts/MainLayout.astro"

import "@styles/blog.sass"
import "@styles/syntax-hl.sass"

const publishDate = new Date(publishedOn).toDateString()
---

<MainLayout {title} description={`Technomunk on: ${description}`}>
    <div class="center">
        <header>{title}</header>
        <p class="subnote">{tags.join(", ")}</p>
        {publishedOn && <p class="subnote">Published on: {publishDate}</p>}
    </div>
    <slot />
</MainLayout>
